@model IEnumerable<SuccessFactors.Models.StudentInfo>

@{
    ViewBag.Title = "Students";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Courses Ennrolled</h1>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.first_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.last_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.courses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.completion_status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employeenumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.section)
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        if (item.completion_status == "In-progress")
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.first_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.last_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.courses)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.completion_status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.employeenumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.section)
                </td>
            </tr>
        }
    }
</table>

<h1>Courses To Complete</h1>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.first_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.last_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.courses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.completion_status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employeenumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.section)
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        if (item.completion_status.ToLower() == "incomplete")
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.first_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.last_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.courses)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.completion_status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employeenumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.section)
        </td>
        <td>
            @Html.ActionLink("Enroll", "Enroll", new { id = item.id, status = "In-progress", course = item.courses })

        </td>
    </tr>
        }
    }
</table>