@model IEnumerable<SuccessFactors.Models.CourseInfo>


@{
    ViewBag.Title = "Students";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>All courses</h1>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.course_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.instructor)
        </th>
    </tr>


    @foreach (var item in Model)
    {
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.course_number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.instructor)
                </td>
                <td>
                    @using (Html.BeginForm("CourseEnroll", "Home"))
                    {
                        <input type='hidden' name='courseID' value='@Html.DisplayFor(modelItem => item.courseID)'>
                        <button type="submit" class='btn btn-sm btn-default' id='search-questions'> Select To Enroll</button>
                    }
                </td>
            </tr>
        }
    }
</table>